*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #D1D1D1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 1);

}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    outline: 0;
    border: 0;
    background: #EBFFFC;
    color: black;
    padding: 10px 25px;
    height: 60px;
    border-radius: 15px;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    background: #D7DEDC;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.weather{
    text-align: center;
    margin-top: 30px;
}

.weather-details {
    margin-top: 20px;
}

.detail-row {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    font-size: 14px;
}

.detail-row span:first-child {
    font-weight: bold;
}

